@primary: #3a6ff4;

.tyh-menu-item {
  // height: 58px;
  height: 60px;
  padding: 0 22px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  // border-bottom: 2px solid transparent;

  // &:hover {
  //   transition: border 0.2s;
  //   border-bottom: 2px solid @primary;
  // }
}

// 禁用状态
.tyh-menu-item-prohibit {
  cursor: not-allowed;
  color: #bbbbbb !important;

  &:hover {
    // border: 2px solid transparent;
    // padding-bottom: 3px;
  }

  &::after {
    background: none;
  }
}