.tyh-menu-item {
  height: 58px;
  padding: 0 22px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}
.tyh-menu-item:hover {
  transition: border 0.2s;
  border-bottom: 2px solid #3a6ff4;
}
