.tyh-info .tyh-info-header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 20px;
}
.tyh-info .tyh-info-header .tyh-info-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-info .tyh-info-header .tyh-info-left .tyh-info-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-info .tyh-info-header .tyh-info-left .tyh-info-data {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.tyh-info .tyh-info-header .tyh-info-left .tyh-info-data .tyh-info-userInfo {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
.tyh-info .tyh-info-header .tyh-info-left .tyh-info-data .tyh-info-describe {
  font-size: 14px;
  color: #c2c2c2;
}
.tyh-info .tyh-info-header .tyh-info-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-info .tyh-info-body {
  border-top: 1px solid #eee;
}
.tyh-info .tyh-info-footer {
  border-top: 1px solid #eee;
}
