.tyh-link {
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}
.tyh-icon-primary,
.tyh-link-primary {
  color: #3a6ff4;
}
.tyh-icon-success,
.tyh-link-success {
  color: #54c600;
}
.tyh-icon-danger,
.tyh-link-danger {
  color: #d10f1b;
}
.tyh-icon-warning,
.tyh-link-warning {
  color: #fbcc30;
}
.tyh-link-,
.tyh-icon-default,
.tyh-link-default {
  color: #3f536e;
}
.tyh-link-prohibit {
  opacity: 0.4;
  cursor: no-drop;
}
