.tyh-menu-item {
  height: 58px;
  padding: 0 26px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 60px;
  white-space: nowrap;
  margin: 0;
  list-style: none;
  border-bottom: 2px solid transparent;
}
.tyh-menu-item .tyh-icon {
  margin-right: 5px;
}
.tyh-menu-item-hover-vertical:hover {
  transition: 0.4s;
  color: #3a6ff4 !important;
}
.tyh-menu-item-hover-horizontal:hover {
  transition: 0.4s;
  border-bottom: 2px solid #3a6ff4;
}
.tyh-menu-item-prohibit {
  cursor: not-allowed;
  color: #bbbbbb !important;
}
.tyh-menu-item-prohibit:hover {
  border-bottom: 2px solid transparent;
}
