.tyh-menu-item {
  height: 60px;
  padding: 0 22px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.tyh-menu-item-prohibit {
  cursor: not-allowed;
  color: #bbbbbb !important;
}
.tyh-menu-item-prohibit::after {
  background: none;
}
