.tyh-calendar {
  display: inline-block;
}
.tyh-calendar .tyh-calendar-container {
  border: 1px solid #eee;
  flex-wrap: wrap;
  display: block;
  position: relative;
}
.tyh-calendar .tyh-calendar-container .tyh-calendar-header {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tyh-calendar .tyh-calendar-container .tyh-calendar-header .tyh-calendar-isDay {
  color: #333;
  line-height: 40px;
  text-align: right;
}
.tyh-calendar .tyh-calendar-container .tyh-calendar-month {
  display: flex;
  flex-wrap: wrap;
}
.tyh-calendar .tyh-calendar-container .tyh-calendar-month .tyh-calendar-day {
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.tyh-calendar
  .tyh-calendar-container
  .tyh-calendar-month
  .tyh-calendar-day:hover {
  background-color: #dae8ff;
}
.tyh-calendar .tyh-calendar-container .tyh-calendar-week {
  display: flex;
  flex-wrap: wrap;
}
.tyh-calendar
  .tyh-calendar-container
  .tyh-calendar-week
  .tyh-calendar-week-item {
  height: 30px;
  border: 1px solid #fff;
  display: flex;
  color: #333;
  justify-content: center;
  align-items: center;
}
