.tyh-button {
  min-width: 40px;
  padding: 0 22px;
  height: 35px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  border: none
}

.tyh-button .tyh-button-text {
  font-size: 14px
}

.tyh-button .tyh-button-icon-margin {
  margin-left: 5px
}

.tyh-button:active {
  transition: background .3s
}

.tyh-button:hover {
  transition: background .3s
}

.tyh-button--danger .tyh-button-text,
.tyh-button--primary .tyh-button-text,
.tyh-button--success .tyh-button-text,
.tyh-button--warning .tyh-button-text {
  color: #fff
}

.tyh-button--default {
  background: #fff;
  border: 1px solid #dcdfe6
}

.tyh-button--default .tyh-button-text {
  color: #606266
}

.tyh-button--default:active {
  background: #e0efff;
  border: 1px solid #3a6ff4;
  transition: border .5s
}

.tyh-button--default:active .tyh-button-text {
  color: #3a6ff4
}

.tyh-button--primary {
  background: #3a6ff4
}

.tyh-button--primary:hover {
  background: #5d88f6;
  box-shadow: 0 0 3px #5d88f6
}

.tyh-button--primary:active {
  background: #0852f3
}

.tyh-button--success {
  background: #54c600
}

.tyh-button--success:hover {
  background: #6bdb18;
  box-shadow: 0 0 3px #6bdb18
}

.tyh-button--success:active {
  background: #45a200
}

.tyh-button--danger {
  background: #d10f1b
}

.tyh-button--danger:hover {
  background: #ea3941;
  box-shadow: 0 0 3px #ea3941
}

.tyh-button--danger:active {
  background: #b90510
}

.tyh-button--warning {
  background: #fbcc30
}

.tyh-button--warning:hover {
  background: #fbd659;
  box-shadow: 0 0 3px #fbd659
}

.tyh-button--warning:active {
  background: #dfb118
}

.tyh-button--round {
  border-radius: 20px
}

.tyh-button--default-simple {
  background: #fff;
  border: 1px solid #dcdfe6
}

.tyh-button--default-simple .tyh-button-text {
  color: #606266
}

.tyh-button--default-simple:active {
  background: #fff
}

.tyh-button--default-simple:active .tyh-button-text {
  color: #3a6ff4
}

.tyh-button--primary-simple {
  border: 1px solid #3a6ff4;
  background: #e8f4ff
}

.tyh-button--primary-simple .tyh-button-text {
  color: #3a6ff4
}

.tyh-button--primary-simple:hover {
  background: #5d88f6;
  box-shadow: 0 0 3px #5d88f6
}

.tyh-button--primary-simple:active {
  background: #0852f3
}

.tyh-button--success-simple {
  background: #e1ffea;
  border: 1px solid #54c600
}

.tyh-button--success-simple .tyh-button-text {
  color: #54c600
}

.tyh-button--success-simple:hover {
  background: #6bdb18;
  box-shadow: 0 0 3px #6bdb18
}

.tyh-button--success-simple:active {
  background: #45a200
}

.tyh-button--danger-simple {
  background: #ffe8e6;
  border: 1px solid #d10f1b
}

.tyh-button--danger-simple .tyh-button-text {
  color: #d10f1b
}

.tyh-button--danger-simple:hover {
  background: #ea3941;
  box-shadow: 0 0 3px #ea3941
}

.tyh-button--danger-simple:active {
  background: #b90510
}

.tyh-button--warning-simple {
  background: #fff1e3;
  border: 1px solid #fbcc30
}

.tyh-button--warning-simple .tyh-button-text {
  color: #ddb11e
}

.tyh-button--warning-simple:hover {
  background: #fbd659;
  box-shadow: 0 0 3px #fbd659
}

.tyh-button--warning-simple:active {
  background: #dfb118
}

.tyh-button--danger-simple:hover .tyh-button-text,
.tyh-button--primary-simple:hover .tyh-button-text,
.tyh-button--success-simple:hover .tyh-button-text,
.tyh-button--warning-simple:hover .tyh-button-text {
  color: #fff
}

.tyh-button--prohibit--default {
  cursor: not-allowed;
  background: #fff
}

.tyh-button--prohibit--default .tyh-button-text {
  color: #a0a0a0
}

.tyh-button--prohibit--default:active {
  background: #fff;
  border: 1px solid #dcdfe6
}

.tyh-button--prohibit--default:active .tyh-button-text {
  color: #a0a0a0
}

.tyh-button--prohibit--primary {
  cursor: not-allowed;
  background: #90b0fe
}

.tyh-button--prohibit--primary:active,
.tyh-button--prohibit--primary:hover {
  background: #90b0fe;
  box-shadow: none
}

.tyh-button--prohibit--success {
  cursor: not-allowed;
  background: #a8e878
}

.tyh-button--prohibit--success:active,
.tyh-button--prohibit--success:hover {
  background: #a8e878;
  box-shadow: none
}

.tyh-button--prohibit--danger {
  cursor: not-allowed;
  background: #ec747b;
  box-shadow: none
}

.tyh-button--prohibit--danger:active,
.tyh-button--prohibit--danger:hover {
  background: #ec747b;
  box-shadow: none
}

.tyh-button--prohibit--warning {
  cursor: not-allowed;
  background: #ffe07a
}

.tyh-button--prohibit--warning:active,
.tyh-button--prohibit--warning:hover {
  background: #ffe07a;
  box-shadow: none
}

.tyh-button--prohibit--default-simple {
  cursor: not-allowed;
  background: #fff;
  border: 1px solid #dcdfe6
}

.tyh-button--prohibit--default-simple .tyh-button-text {
  color: #a0a0a0
}

.tyh-button--prohibit--default-simple:active,
.tyh-button--prohibit--default-simple:hover {
  background: #fff;
  box-shadow: none
}

.tyh-button--prohibit--default-simple:active .tyh-button-text,
.tyh-button--prohibit--default-simple:hover .tyh-button-text {
  color: #a0a0a0
}

.tyh-button--prohibit--primary-simple {
  cursor: not-allowed;
  background: #e8f4ff;
  border: 1px solid #98b3fb
}

.tyh-button--prohibit--primary-simple .tyh-button-text {
  color: #98b3fb
}

.tyh-button--prohibit--primary-simple:active,
.tyh-button--prohibit--primary-simple:hover {
  background: #e8f4ff;
  box-shadow: none
}

.tyh-button--prohibit--primary-simple:active .tyh-button-text,
.tyh-button--prohibit--primary-simple:hover .tyh-button-text {
  color: #98b3fb
}

.tyh-button--prohibit--success-simple {
  cursor: not-allowed;
  background: #e1ffea;
  border: 1px solid #b9e996
}

.tyh-button--prohibit--success-simple .tyh-button-text {
  color: #b9e996
}

.tyh-button--prohibit--success-simple:active,
.tyh-button--prohibit--success-simple:hover {
  background: #e1ffea;
  box-shadow: none
}

.tyh-button--prohibit--success-simple:active .tyh-button-text,
.tyh-button--prohibit--success-simple:hover .tyh-button-text {
  color: #b9e996
}

.tyh-button--prohibit--danger-simple {
  cursor: not-allowed;
  background: #ffe8e6;
  border: 1px solid #ffa5ab
}

.tyh-button--prohibit--danger-simple .tyh-button-text {
  color: #ffa5ab
}

.tyh-button--prohibit--danger-simple:active,
.tyh-button--prohibit--danger-simple:hover {
  background: #ffe8e6;
  box-shadow: none
}

.tyh-button--prohibit--danger-simple:active .tyh-button-text,
.tyh-button--prohibit--danger-simple:hover .tyh-button-text {
  color: #ffa5ab
}

.tyh-button--prohibit--warning-simple {
  cursor: not-allowed;
  background: #fff1e3;
  border: 1px solid #ffde72
}

.tyh-button--prohibit--warning-simple .tyh-button-text {
  color: #ffde72
}

.tyh-button--prohibit--warning-simple:active,
.tyh-button--prohibit--warning-simple:hover {
  background: #fff1e3;
  box-shadow: none
}

.tyh-button--prohibit--warning-simple:active .tyh-button-text,
.tyh-button--prohibit--warning-simple:hover .tyh-button-text {
  color: #ffde72
}

.tyh-button-big {
  width: 100%
}

.tyh-button--size-small {
  min-width: 30px;
  padding: 0 17px;
  height: 30px
}

.tyh-button--size-mini {
  min-width: 20px;
  padding: 0 12px;
  height: 25px
}

.tyh-card {
  border: 1px solid #dcdee2;
  border-radius: 4px
}

.tyh-card .tyh-card-header {
  border-bottom: 1px solid #dcdee2;
  height: 48px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #2c405a
}

.tyh-card .tyh-card-header .tyh-card-title {
  font-weight: 600;
  color: #5d5d5d
}

.tyh-card .tyh-card-header .tyh-card-subtitle {
  font-size: 14px
}

.tyh-card .tyh-card-content {
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #303133
}

.tyh-card-shadow-always {
  box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1)
}

.tyh-card-shadow-hover:hover {
  transition: box-shadow .25s;
  box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1)
}

.tyh-crumbs {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px
}

.tyh-crumbs-item {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333
}

.tyh-crumbs-item .tyh-icon {
  width: 28px;
  display: inline-block;
  text-align: center
}

.tyh-crumbs-item:last-child .tyh-icon {
  display: none
}

.tyh-crumbs-item__to {
  font-weight: 600;
  color: #333
}

.tyh-division {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #c0c0c0;
  padding-left: 20px;
}

.tyh-division .tyh-division-text {
  padding: 0 21px;
  font-size: 13px;
}

.tyh-division .tyh-division-text--left {
  text-align: left;
  margin-left: 30px;
}

.tyh-division .tyh-division-text--center {
  text-align: center;
}

.tyh-division .tyh-division-text--right {
  text-align: right;
  margin-right: 30px;
}


.tyh-input {
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box
}

.tyh-input .tyh-input_inp {
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  color: #3f536e;
  border: 1px solid #c5d9e8;
  outline: 0;
  padding: 0 10px;
  transition: border .35s;
  background: #fff;
  box-sizing: border-box
}

.tyh-input .tyh-input_inp:focus {
  border: 1px solid #3a6ff4;
  transition: border .35s
}

.tyh-input .tyh-input-clear-padding {
  padding-right: 26px
}

.tyh-input .tyh-input-icon__showIcon {
  position: absolute;
  left: 10px;
  margin: auto;
  user-select: none
}

.tyh-input .tyh-input__padding-left {
  padding-left: 30px
}

.tyh-input .tyh-input-icon__clear {
  position: absolute;
  right: 10px;
  margin: auto;
  cursor: pointer
}

.tyh-input .tyh-input-icon-big-height {
  line-height: 40px
}

.tyh-input .tyh-input-icon-medium-height {
  line-height: 35px
}

.tyh-input .tyh-input-icon-small-height {
  line-height: 30px
}

.tyh-input .tyh-input-icon-mini-height {
  line-height: 25px
}

.tyh-input_inp--big {
  height: 40px
}

.tyh-input_inp--medium {
  height: 35px
}

.tyh-input_inp--small {
  height: 30px
}

.tyh-input_inp--mini {
  height: 25px
}

.tyh-button-prohibit {
  background: #f5f7fa !important;
  border-color: #e4e7ed !important;
  color: #c0c4cc !important;
  cursor: not-allowed
}

.tyh-button-prohibit .tyh-icon {
  cursor: not-allowed !important
}

.tyh-link {
  font-size: 15px;
  text-decoration: none;
  user-select: none;
  cursor: pointer
}

.tyh-link-- {
  color: #3f536e
}

.tyh-link-- .tyh-icon {
  color: #3f536e !important
}

.tyh-link--primary {
  color: #3a6ff4
}

.tyh-link--primary .tyh-icon {
  color: #3a6ff4 !important
}

.tyh-link--success {
  color: #54c600
}

.tyh-link--success .tyh-icon {
  color: #54c600 !important
}

.tyh-link--danger {
  color: #d10f1b
}

.tyh-link--danger .tyh-icon {
  color: #d10f1b !important
}

.tyh-link--warning {
  color: #fbcc30
}

.tyh-link--warning .tyh-icon {
  color: #fbcc30 !important
}

.tyh-link--hoverline:hover {
  border-bottom: 1px solid #3f536e
}

.tyh-link--hoverline--primary:hover {
  border-bottom: 1px solid #3a6ff4
}

.tyh-link--hoverline--success:hover {
  border-bottom: 1px solid #54c600
}

.tyh-link--hoverline--danger:hover {
  border-bottom: 1px solid #d10f1b
}

.tyh-link--hoverline--warning:hover {
  border-bottom: 1px solid #fbcc30
}

.tyh-link--underline {
  border-bottom: 1px solid #3f536e
}

.tyh-link--underline--primary {
  border-bottom: 1px solid #3a6ff4
}

.tyh-link--underline--success {
  border-bottom: 1px solid #54c600
}

.tyh-link--underline--danger {
  border-bottom: 1px solid #d10f1b
}

.tyh-link--underline--warning {
  border-bottom: 1px solid #fbcc30
}

.tyh-link-prohibit-,
.tyh-link-prohibit-danger,
.tyh-link-prohibit-primary,
.tyh-link-prohibit-success,
.tyh-link-prohibit-warning {
  cursor: not-allowed
}

.tyh-link-prohibit- {
  color: silver
}

.tyh-link-prohibit- .tyh-icon {
  color: silver !important
}

.tyh-link-prohibit-:hover {
  border: none
}

.tyh-link-prohibit-primary {
  color: #90b0fe
}

.tyh-link-prohibit-primary .tyh-icon {
  color: #90b0fe !important
}

.tyh-link-prohibit-primary:hover {
  border: none
}

.tyh-link-prohibit-success {
  color: #a8e878
}

.tyh-link-prohibit-success .tyh-icon {
  color: #a8e878 !important
}

.tyh-link-prohibit-success:hover {
  border: none
}

.tyh-link-prohibit-danger {
  color: #ec747b
}

.tyh-link-prohibit-danger .tyh-icon {
  color: #ec747b !important
}

.tyh-link-prohibit-danger:hover {
  border: none
}

.tyh-link-prohibit-warning {
  color: #ffe07a
}

.tyh-link-prohibit-warning .tyh-icon {
  color: #ffe07a !important
}

.tyh-link-prohibit-warning:hover {
  border: none
}

.tyh-list {
  width: 100%;
  border: 1px solid #dcdee2;
  border-radius: 6px;
  color: #515a6e;
  padding: 0px;
}

.tyh-list .tyh-list-header {
  min-height: 45px;
  font-weight: 600;
  border-bottom: 1px solid #dcdee2;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.tyh-list .tyh-list-content {
  min-height: 45px;
}

.tyh-list .tyh-list-content .note {
  padding: 20px;
}

.tyh-list .tyh-list-content .tyh-list-content-ul {
  padding: 0;
  margin: 0;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li {
  min-height: 45px;
  list-style: none;
  border-bottom: 1px solid #dcdee2;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li:last-child {
  border: none;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li .tyh-list-content-li-num {
  width: 25px;
  display: inline-block;
  text-align: center;
  color: #34373f;
  font-weight: 600;
  margin-right: 23px;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li .tyh-list-content-li-center {
  text-align: center;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li-zebra:nth-child(odd) {
  background: #fafafa;
}

.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li-hoverShow:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.tyh-list .tyh-list-footer {
  min-height: 45px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #dcdee2;
  box-sizing: border-box;
}

.tyh-menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  user-select: none
}

.tyh-menu-bottom-shadow {
  box-shadow: 0 7px 19px rgba(0, 0, 0, .1)
}

.tyh-menu-item .tyh-menu-item-span {
  border-bottom: 3px solid transparent;
  line-height: 57px;
  height: 57px;
  display: inline-block;
  padding: 0 22px;
  font-size: 15px;
  cursor: pointer;
  position: relative
}

.tyh-menu-item .tyh-menu-item-span::after {
  content: "";
  width: 0;
  height: 2px;
  background: #3a6ff4;
  position: absolute;
  left: 100%;
  bottom: 0;
  transition: all .4s
}

.tyh-menu-item .tyh-menu-item-span:hover::after {
  width: 100%;
  left: 0;
  transition-delay: .1s
}

.tyh-menu-item .tyh-menu-item.active::after {
  width: 100%
}

.tyh-menu-item .tyh-menu-item-prohibit {
  cursor: not-allowed;
  color: #909090 !important
}

.tyh-menu-item .tyh-menu-item-prohibit::after {
  background: 0 0
}

.tyh-tag {
  min-width: 57px;
  height: 28px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  cursor: default;
  user-select: none;
  padding: 0 6px
}

.tyh-tag-- {
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  color: #3f536e
}

.tyh-tag--primary {
  background-color: #3a6ff4;
  color: #fff
}

.tyh-tag--success {
  background-color: #54c600;
  color: #fff
}

.tyh-tag--danger {
  background-color: #d10f1b;
  color: #fff
}

.tyh-tag--warning {
  background-color: #fbcc30;
  color: #fff
}

.tyh-tag--small {
  min-width: 49px;
  height: 25px;
  line-height: 26px
}

.tyh-tag--mini {
  min-width: 41px;
  height: 22px;
  line-height: 22px
}

.tyh-tag--round {
  border-radius: 30px
}

.tyh-ui-close-03 {
  margin-left: 6px;
  cursor: pointer
}

.tyh-turn-page {
  display: flex;
  width: 100%;
  user-select: none
}

.tyh-turn-page-item {
  flex: 1
}

.tyh-turn-page-item a {
  text-decoration: none;
  color: #515a6e
}

.tyh-turn-page-item a:hover {
  transition: color .2s;
  color: #3a6ff4
}

.tyh-turn-page-item a:hover .tyh-icon {
  transition: color .2s;
  color: #3a6ff4 !important
}

.tyh-turn-page-item-left {
  text-align: left
}

.tyh-turn-page-item-right {
  text-align: right
}

.tyh-turn-page-center {
  text-align: center
}

.tyh-back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484848;
  font-size: 14px;
  z-index: 999999
}

.tyh-back-top:hover {
  transition: background .2s;
  background: #f4f8fd
}

.tyh-message {
  display: inline-block;
  min-width: 130px;
  height: 35px;
  border-radius: 4px;
  padding: 0 23px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .1);
  user-select: none;
  z-index: 99999;
  transform: translateX(-50%);
  position: fixed;
  top: -37px;
  left: 50%;
  animation: tyhMessage .17s linear forwards
}

.tyh-message .tyh-message-body {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center
}

.tyh-message .tyh-message-body .tyh-message-message {
  font-size: 13px
}

.tyh-message .tyh-icon {
  margin-right: 6px
}

@keyframes tyhMessage {
  to {
    top: 20px
  }
}

.tyh-message-body-- {
  color: #484848
}

.tyh-message-body-- .tyh-icon {
  color: #484848 !important
}

.tyh-message-body--primary {
  color: #3a6ff4
}

.tyh-message-body--primary .tyh-icon {
  color: #3a6ff4 !important
}

.tyh-message-body--success {
  color: #54c600
}

.tyh-message-body--success .tyh-icon {
  color: #54c600 !important
}

.tyh-message-body--danger {
  color: #d10f1b
}

.tyh-message-body--danger .tyh-icon {
  color: #d10f1b !important
}

.tyh-message-body--warning {
  color: #fbcc30
}

.tyh-message-body--warning .tyh-icon {
  color: #fbcc30 !important
}

.tyh-skeleton {
  min-height: 16px;
  width: 100%;
  background: #eee;
  display: inline-block;
  border-radius: 4px
}

.tyh-skeleton-round {
  border-radius: 30px
}

.tyh-skeleton-animation {
  animation: skeleton 1.5s infinite
}

@keyframes skeleton {
  0% {
    opacity: .4
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: .4
  }
}

.tyh-alert {
  min-height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px
}

.tyh-alert .tyh-alert-message {
  font-size: 15px
}

.tyh-alert .tyh-ui-guanbi {
  position: absolute;
  right: 15px
}

.tyh-alert- {
  border: 1px solid #606266
}

.tyh-alert- .tyh-alert-message {
  color: #606266
}

.tyh-alert- .tyh-icon {
  color: #606266 !important
}

.tyh-alert-primary {
  border: 1px solid #3a6ff4
}

.tyh-alert-primary .tyh-alert-message {
  color: #3a6ff4
}

.tyh-alert-primary .tyh-icon {
  color: #3a6ff4 !important
}

.tyh-alert-success {
  border: 1px solid #54c600
}

.tyh-alert-success .tyh-alert-message {
  color: #54c600
}

.tyh-alert-success .tyh-icon {
  color: #54c600 !important
}

.tyh-alert-danger {
  border: 1px solid #d10f1b
}

.tyh-alert-danger .tyh-alert-message {
  color: #d10f1b
}

.tyh-alert-danger .tyh-icon {
  color: #d10f1b !important
}

.tyh-alert-warning {
  border: 1px solid #fbcc30
}

.tyh-alert-warning .tyh-alert-message {
  color: #fbcc30
}

.tyh-alert-warning .tyh-icon {
  color: #fbcc30 !important
}

.tyh-alert-background- {
  background: #f6f6f6
}

.tyh-alert-background-primary {
  background: #e8f4ff
}

.tyh-alert-background-success {
  background: #e1ffea
}

.tyh-alert-background-danger {
  background: #ffe8e6
}

.tyh-alert-background-warning {
  background: #fff1e3
}

.tyh-rate {
  position: relative;
  display: flex
}

.tyh-rate .tyh-rate-mouseout .hollow,
.tyh-rate .tyh-rate-mouseout .solid {
  width: 17px
}

.tyh-rate .tyh-rate-mouseout .solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden
}

.tyh-rate .show-text {
  color: #333;
  font-size: 14px;
  margin-left: 5px
}

.tyh-image {
  display: inline-block
}

.tyh-image .tyh-image-fill {
  object-fit: fill
}

.tyh-image .tyh-image-contain {
  object-fit: contain
}

.tyh-image .tyh-image-cover {
  object-fit: cover
}

.tyh-image .tyh-image-none {
  object-fit: none
}

.tyh-image .tyh-image-scale-down {
  object-fit: scale-down
}