* {
  margin: 0;
  padding: 0;
  font-size: "微软雅黑";
}

.tyh-button,
.tyh-turn-page,
.tyh-tag,
.tyh-link,
.tyh-input,
.tyh-tagging,
.tyh-alert,
.tyh-table,
.tyh-select,
.tyh-button-group {
  margin: 10px;
}

.tyh-input {
  width: 260px;
  display: block;
}

.tyh-button-group .tyh-button,
.tyh-info .tyh-link {
  margin: 0;
}

.tyh-header,
.tyh-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.tyh-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.tyh-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .tyh-container {
  margin-bottom: 40px;
}

.tyh-container:nth-child(5) .tyh-aside,
.tyh-container:nth-child(6) .tyh-aside {
  line-height: 260px;
}

.tyh-container:nth-child(7) .tyh-aside {
  line-height: 320px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 6px;
}

.tyh-card-item {
  width: 240px;
  margin-left: 10px;
  display: inline-block;
}

.fitBox {
  display: flex;
}

.fitBox .item {
  width: 200px;
  height: 200px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fitBox .item .text {
  color: #333333;
  margin-bottom: 20px;
}

#allIcon {
  width: 100%;
}

#allIcon .allIcon-ui {
  display: flex;
  flex-wrap: wrap;
}

#allIcon .allIcon-ui .allIcon-li {
  width: 140px;
  height: 120px;
  list-style: none;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allIcon .allIcon-ui .allIcon-li .iconTitle {
  font-size: 12px;
  color: #8a8a8a;
  display: inline-block;
  max-width: 100px;
  text-align: center;
  margin: 20px 0 0 0;
  height: 30px;
  line-height: 15px;
}

#allIcon .allIcon-ui .allIcon-li:hover {
  transition: background 0.3s;
  background: #dcdfe6;
}

#about {
  max-width: 800px;
  margin: auto;
  padding: 22px;
  box-sizing: border-box;
  padding-bottom: 99px;
}
