.markdown-body {

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333;
  }

  p {
    color: #515a6e;
    font-size: 15px;
  }

  pre {
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 18px;
    background: rgb(243, 247, 255);

    code {
      font-family: "微软雅黑";
    }
  }
}