.tyh-calendar {
  width: 364px;
  border: 3px solid #343;
  flex-wrap: wrap;
}
.tyh-calendar .tyh-calendar-month {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tyh-calendar .tyh-calendar-month .tyh-calendar-day {
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-calendar .tyh-calendar-week {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tyh-calendar .tyh-calendar-week .tyh-calendar-week-item {
  width: 48px;
  height: 30px;
  border: 1px solid #fff;
  display: flex;
  color: #333;
  justify-content: center;
  align-items: center;
}
