.tyh-avatar {
  display: inline-block;

  .tyh-avatar-round {
    border-radius: 50%;
  }

  .tyh-avatar-border {
    border: 3px solid #eee;
  }

  .tyh-avatar-select {
    user-select: none;
  }

  .tyh-avatar-fill {
    object-fit: fill;
  }

  .tyh-avatar-contain {
    object-fit: contain;
  }

  .tyh-avatar-cover {
    object-fit: cover;
  }

  .tyh-avatar-none {
    object-fit: none;
  }

  .tyh-avatar-scale-down {
    object-fit: scale-down;
  }

  .tyh-avatar-error {
    background-color: #cfd1d6;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #c1c4cc;
    font-size: 15px;
    position: relative;
    box-sizing: border-box;

    .tyh-icon {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}