.tyh-crumbs-item {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}
.tyh-crumbs-item .tyh-icon {
  width: 28px;
  display: inline-block;
  text-align: center;
  color: #c0c4cc;
}
.tyh-crumbs-item:last-child .tyh-icon {
  display: none;
}
.tyh-crumbs-item__to {
  font-weight: 600;
  color: #333333;
}
