.tyh-link {
  font-size: 15px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
.tyh-link-- {
  color: #3f536e;
}
.tyh-link--primary {
  color: #409eff;
}
.tyh-link--success {
  color: #f05048;
}
.tyh-link--danger {
  color: #2ea44f;
}
.tyh-link--warning {
  color: #ff7700;
}
.tyh-link--hoverline:hover {
  border-bottom: 1px solid #3f536e;
}
.tyh-link--hoverline--primary:hover {
  border-bottom: 1px solid #409eff;
}
.tyh-link--hoverline--success:hover {
  border-bottom: 1px solid #f05048;
}
.tyh-link--hoverline--danger:hover {
  border-bottom: 1px solid #2ea44f;
}
.tyh-link--hoverline--warning:hover {
  border-bottom: 1px solid #ff7700;
}
.tyh-link--underline {
  border-bottom: 1px solid #3f536e;
}
.tyh-link--underline--primary {
  border-bottom: 1px solid #409eff;
}
.tyh-link--underline--success {
  border-bottom: 1px solid #f05048;
}
.tyh-link--underline--danger {
  border-bottom: 1px solid #2ea44f;
}
.tyh-link--underline--warning {
  border-bottom: 1px solid #ff7700;
}
