.tyh-button {
  min-width: 40px;
  padding: 0 22px;
  min-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  text-align: center;
  transition: 0.3s;
  color: #fff;
  line-height: 1;
  font-size: 14px;
}
.tyh-button-primary {
  background: #3a6ff4;
}
.tyh-button-primary:hover {
  background: #5d88f6;
  box-shadow: 0 0 3px #5d88f6;
}
.tyh-button-primary:active {
  background: #0852f3;
}
.tyh-button-success {
  background: #54c600;
}
.tyh-button-success:hover {
  background: #6bdb18;
  box-shadow: 0 0 3px #6bdb18;
}
.tyh-button-success:active {
  background: #45a200;
}
.tyh-button-danger {
  background: #d10f1b;
}
.tyh-button-danger:hover {
  background: #ea3941;
  box-shadow: 0 0 3px #ea3941;
}
.tyh-button-danger:active {
  background: #b90510;
}
.tyh-button-warning {
  background: #fbcc30;
}
.tyh-button-warning:hover {
  background: #fbd659;
  box-shadow: 0 0 3px #fbd659;
}
.tyh-button-warning:active {
  background: #dfb118;
}
.tyh-button-,
.tyh-button-default {
  background: #f4f5f5;
  color: #333;
}
.tyh-button-:hover,
.tyh-button-default:hover {
  background: #eeeeee;
  box-shadow: 0 0 3px #eeeeee;
}
.tyh-button-:active,
.tyh-button-default:active {
  background: #dbdbdb;
}
.tyh-button-round {
  border-radius: 30px;
}
.tyh-button-simple-primary,
.tyh-button-simple-success,
.tyh-button-simple-danger,
.tyh-button-simple-warning,
.tyh-button-simple-default {
  background: #f4f5f5;
}
.tyh-button-simple-primary:hover,
.tyh-button-simple-success:hover,
.tyh-button-simple-danger:hover,
.tyh-button-simple-warning:hover,
.tyh-button-simple-default:hover {
  background: #eeeeee;
  box-shadow: 0 0 3px #eeeeee;
}
.tyh-button-simple-primary:active,
.tyh-button-simple-success:active,
.tyh-button-simple-danger:active,
.tyh-button-simple-warning:active,
.tyh-button-simple-default:active {
  background: #dbdbdb;
}
.tyh-button-disabled-primary,
.tyh-button-disabled-success,
.tyh-button-disabled-danger,
.tyh-button-disabled-warning,
.tyh-button-disabled-default {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-button-disabled-primary {
  background: #3a6ff4;
}
.tyh-button-disabled-success {
  background: #54c600;
}
.tyh-button-disabled-danger {
  background: #d10f1b;
}
.tyh-button-disabled-warning {
  background: #fbcc30;
}
.tyh-button-disabled-default {
  background: #f4f5f5;
}
.tyh-button-simple-disabled-primary,
.tyh-button-simple-disabled-success,
.tyh-button-simple-disabled-danger,
.tyh-button-simple-disabled-warning,
.tyh-button-simple-disabled-default {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-button-size-large {
  width: 100%;
}
.tyh-button-size-small {
  min-width: 30px;
  padding: 0 17px;
  height: 30px;
}
.tyh-button-size-mini {
  min-width: 20px;
  padding: 0 12px;
  height: 25px;
}
.tyh-button-square {
  border-radius: 0;
}
.tyh-button [class*='tyh-icon'] + span {
  margin-left: 5px;
}
