.tyh-button {
  min-width: 40px;
  padding: 0 22px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: none;
  transition: 0.3s;
}
.tyh-button-primary {
  background: #3a6ff4;
}
.tyh-button-primary:hover {
  background: #5d88f6;
  box-shadow: 0 0 3px #5d88f6;
}
.tyh-button-primary:active {
  background: #0852f3;
}
.tyh-button-success {
  background: #54c600;
}
.tyh-button-success:hover {
  background: #6bdb18;
  box-shadow: 0 0 3px #6bdb18;
}
.tyh-button-success:active {
  background: #45a200;
}
.tyh-button-danger {
  background: #d10f1b;
}
.tyh-button-danger:hover {
  background: #ea3941;
  box-shadow: 0 0 3px #ea3941;
}
.tyh-button-danger:active {
  background: #b90510;
}
.tyh-button-warning {
  background: #fbcc30;
}
.tyh-button-warning:hover {
  background: #fbd659;
  box-shadow: 0 0 3px #fbd659;
}
.tyh-button-warning:active {
  background: #dfb118;
}
.tyh-button-,
.tyh-button-default {
  background: #f4f5f5;
}
.tyh-button-:hover,
.tyh-button-default:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-:active,
.tyh-button-default:active {
  background: #dbdbdb;
}
.tyh-button-round {
  border-radius: 30px;
}
.tyh-button-simple-danger,
.tyh-button-simple-default,
.tyh-button-simple-primary,
.tyh-button-simple-success,
.tyh-button-simple-warning {
  background: #f4f5f5;
}
.tyh-button-simple-primary:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-simple-primary:active {
  background: #dbdbdb;
}
.tyh-button-simple-success:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-simple-success:active {
  background: #dbdbdb;
}
.tyh-button-simple-danger:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-simple-danger:active {
  background: #dbdbdb;
}
.tyh-button-simple-warning:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-simple-warning:active {
  background: #dbdbdb;
}
.tyh-button-simple-default:hover {
  background: #eee;
  box-shadow: 0 0 3px #eee;
}
.tyh-button-simple-default:active {
  background: #dbdbdb;
}
.tyh-button-disabled-danger,
.tyh-button-disabled-default,
.tyh-button-disabled-primary,
.tyh-button-disabled-success,
.tyh-button-disabled-warning {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-button-disabled-primary {
  background: #3a6ff4;
}
.tyh-button-disabled-success {
  background: #54c600;
}
.tyh-button-disabled-danger {
  background: #d10f1b;
}
.tyh-button-disabled-warning {
  background: #fbcc30;
}
.tyh-button-disabled-default {
  background: #f4f5f5;
}
.tyh-button-simple-disabled-danger,
.tyh-button-simple-disabled-default,
.tyh-button-simple-disabled-primary,
.tyh-button-simple-disabled-success,
.tyh-button-simple-disabled-warning {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-button-size-large {
  width: 100%;
}
.tyh-button-size-small {
  min-width: 30px;
  padding: 0 17px;
  height: 30px;
}
.tyh-button-size-mini {
  min-width: 20px;
  padding: 0 12px;
  height: 25px;
}
.tyh-button-square {
  border-radius: 0;
}
.tyh-card {
  border: 1px solid #dcdee2;
  border-radius: 4px;
}
.tyh-card .tyh-card-header {
  border-bottom: 1px solid #dcdee2;
  height: 48px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #2c405a;
}
.tyh-card .tyh-card-header .tyh-card-title {
  font-weight: 600;
  color: #5d5d5d;
}
.tyh-card .tyh-card-header .tyh-card-subtitle {
  font-size: 14px;
}
.tyh-card .tyh-card-content {
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #303133;
}
.tyh-card-shadow-always {
  box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.tyh-card-shadow-hover:hover {
  transition: box-shadow 0.25s;
  box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.tyh-crumbs {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
}
.tyh-crumbs-item {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.tyh-crumbs-item .tyh-icon {
  width: 28px;
  display: inline-block;
  text-align: center;
}
.tyh-crumbs-item:last-child .tyh-icon {
  display: none;
}
.tyh-crumbs-item__to {
  font-weight: 600;
  color: #333;
}
.tyh-division {
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: silver;
  position: relative;
}
.tyh-division .tyh-division-text {
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  transform: translateY(-50%);
}
.tyh-division .tyh-division-text-right {
  right: 30px;
}
.tyh-division .tyh-division-text-left {
  left: 30px;
}
.tyh-division .tyh-division-text-center {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.tyh-link {
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}
.tyh-link-primary {
  color: #3a6ff4;
}
.tyh-link-success {
  color: #54c600;
}
.tyh-link-danger {
  color: #d10f1b;
}
.tyh-link-warning {
  color: #fbcc30;
}
.tyh-link-default {
  color: #3f536e;
}
.tyh-link-prohibit-danger,
.tyh-link-prohibit-default,
.tyh-link-prohibit-primary,
.tyh-link-prohibit-success,
.tyh-link-prohibit-warning {
  opacity: 0.5;
  cursor: no-drop;
}
.tyh-list {
  width: 100%;
  border: 1px solid #dcdee2;
  border-radius: 6px;
  color: #515a6e;
  padding: 0;
}
.tyh-list .tyh-list-header {
  min-height: 45px;
  font-weight: 600;
  border-bottom: 1px solid #dcdee2;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.tyh-list .tyh-list-content {
  min-height: 45px;
}
.tyh-list .tyh-list-content .note {
  padding: 20px;
}
.tyh-list .tyh-list-content .tyh-list-content-ul {
  padding: 0;
  margin: 0;
}
.tyh-list .tyh-list-content .tyh-list-content-ul .tyh-list-content-li {
  min-height: 45px;
  list-style: none;
  border-bottom: 1px solid #dcdee2;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.tyh-list
  .tyh-list-content
  .tyh-list-content-ul
  .tyh-list-content-li:last-child {
  border: none;
}
.tyh-list
  .tyh-list-content
  .tyh-list-content-ul
  .tyh-list-content-li
  .tyh-list-content-li-num {
  width: 25px;
  display: inline-block;
  text-align: center;
  color: #34373f;
  font-weight: 600;
  margin-right: 23px;
}
.tyh-list
  .tyh-list-content
  .tyh-list-content-ul
  .tyh-list-content-li
  .tyh-list-content-li-center {
  text-align: center;
}
.tyh-list
  .tyh-list-content
  .tyh-list-content-ul
  .tyh-list-content-li-zebra:nth-child(odd) {
  background: #fafafa;
}
.tyh-list
  .tyh-list-content
  .tyh-list-content-ul
  .tyh-list-content-li-hoverShow:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.tyh-list .tyh-list-footer {
  min-height: 45px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #dcdee2;
  box-sizing: border-box;
}
.tyh-menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  user-select: none;
}
.tyh-menu-bottom-shadow {
  box-shadow: 0 7px 19px rgba(0, 0, 0, 0.1);
}
.tyh-menu-item .tyh-menu-item-span {
  border-bottom: 3px solid transparent;
  line-height: 57px;
  height: 57px;
  display: inline-block;
  padding: 0 22px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
.tyh-menu-item .tyh-menu-item-span::after {
  content: '';
  width: 0;
  height: 2px;
  background: #3a6ff4;
  position: absolute;
  left: 100%;
  bottom: 0;
  transition: all 0.4s;
}
.tyh-menu-item .tyh-menu-item-span:hover::after {
  width: 100%;
  left: 0;
  transition-delay: 0.1s;
}
.tyh-menu-item .tyh-menu-item.active::after {
  width: 100%;
}
.tyh-menu-item .tyh-menu-item-prohibit {
  cursor: not-allowed;
  color: #909090 !important;
}
.tyh-menu-item .tyh-menu-item-prohibit::after {
  background: 0 0;
}
.tyh-tag {
  min-width: 57px;
  height: 28px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  cursor: default;
  user-select: none;
  padding: 0 6px;
}
.tyh-tag-primary {
  background: #3a6ff4;
}
.tyh-tag-success {
  background: #54c600;
}
.tyh-tag-danger {
  background: #d10f1b;
}
.tyh-tag-warning {
  background: #fbcc30;
}
.tyh-tag-default {
  background: #e3e3e3;
}
.tyh-tag-round {
  border-radius: 15px;
}
.tyh-tag-small {
  min-width: 49px;
  height: 25px;
  line-height: 26px;
  font-size: 13px;
}
.tyh-tag-mini {
  min-width: 41px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
.tyh-ui-close-03 {
  cursor: pointer;
}
.tyh-ui-close-03 {
  margin-left: 6px;
  cursor: pointer;
}
.tyh-back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #484848;
  font-size: 14px;
  z-index: 999999;
}
.tyh-back-top:hover {
  transition: background 0.2s;
  background: #f4f8fd;
}
.tyh-message {
  display: inline-block;
  min-width: 130px;
  height: 35px;
  border-radius: 4px;
  padding: 0 23px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  user-select: none;
  z-index: 99999;
  transform: translateX(-50%);
  position: fixed;
  top: -37px;
  left: 50%;
  animation: tyhMessage 0.17s linear forwards;
}
.tyh-message .tyh-message-body {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-message .tyh-message-body .tyh-message-message {
  font-size: 13px;
}
.tyh-message .tyh-icon {
  margin-right: 6px;
}
@keyframes tyhMessage {
  to {
    top: 20px;
  }
}
.tyh-message-body-- {
  color: #484848;
}
.tyh-message-body-- .tyh-icon {
  color: #484848 !important;
}
.tyh-message-body--primary {
  color: #3a6ff4;
}
.tyh-message-body--primary .tyh-icon {
  color: #3a6ff4 !important;
}
.tyh-message-body--success {
  color: #54c600;
}
.tyh-message-body--success .tyh-icon {
  color: #54c600 !important;
}
.tyh-message-body--danger {
  color: #d10f1b;
}
.tyh-message-body--danger .tyh-icon {
  color: #d10f1b !important;
}
.tyh-message-body--warning {
  color: #fbcc30;
}
.tyh-message-body--warning .tyh-icon {
  color: #fbcc30 !important;
}
.tyh-skeleton {
  min-height: 16px;
  width: 100%;
  background: #eee;
  display: inline-block;
  border-radius: 4px;
}
.tyh-skeleton-round {
  border-radius: 30px;
}
.tyh-skeleton-animation {
  animation: skeleton 1.5s infinite;
}
@keyframes skeleton {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
.tyh-rate {
  position: relative;
  display: flex;
}
.tyh-rate .tyh-rate-mouseout .hollow,
.tyh-rate .tyh-rate-mouseout .solid {
  width: 17px;
}
.tyh-rate .tyh-rate-mouseout .solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
}
.tyh-rate .show-text {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}
.tyh-aside {
  flex-shrink: 0;
}
.tyh-container-noFlex {
  width: 100%;
}
.tyh-container-flex {
  display: flex;
}
.tyh-footer {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
}
.tyh-header {
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.tyh-main {
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  flex-shrink: 0;
}
.tyh-alert {
  min-height: 35px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.tyh-alert .tyh-alert-message {
  font-size: 15px;
}
.tyh-alert .tyh-ui-guanbi {
  position: absolute;
  right: 15px;
}
.tyh-alert-primary {
  border: 1px solid #3a6ff4;
}
.tyh-alert-success {
  border: 1px solid #54c600;
}
.tyh-alert-danger {
  border: 1px solid #d10f1b;
}
.tyh-alert-warning {
  border: 1px solid #fbcc30;
}
.tyh-alert-default {
  border: 1px solid #606266;
}
.tyh-input {
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  transition: 0.35s;
}
.tyh-input .tyh-input-input {
  width: 100%;
  border-radius: 5px;
  color: #3f536e;
  border: 1px solid #c5d9e8;
  outline: 0;
  padding: 0 10px;
  transition: border 0.35s;
  background: #fff;
  box-sizing: border-box;
}
.tyh-input .tyh-input-input:focus {
  border: 1px solid #3a6ff4;
}
.tyh-input .tyh-input-icon {
  position: absolute;
  left: 10px;
  user-select: none;
}
.tyh-input .tyh-input-icon-large,
.tyh-input .tyh-input-input-large {
  line-height: 40px;
  font-size: 15px;
}
.tyh-input .tyh-input-icon-medium,
.tyh-input .tyh-input-input-medium {
  line-height: 35px;
  font-size: 14px;
}
.tyh-input .tyh-input-icon-small,
.tyh-input .tyh-input-input-small {
  line-height: 30px;
  font-size: 13px;
}
.tyh-input .tyh-input-icon-mini,
.tyh-input .tyh-input-input-mini {
  line-height: 25px;
  font-size: 12px;
}
.tyh-input .tyh-input-icon-padding {
  padding-left: 26px;
}
.tyh-input .tyh-input-clear-padding {
  padding-right: 26px;
}
.tyh-input .tyh-input-clear {
  position: absolute;
  right: 10px;
  margin: auto;
}
.tyh-input-disabled {
  background: #f5f7fa !important;
  border-color: #e4e7ed !important;
  color: #c0c4cc !important;
  cursor: not-allowed;
}
.tyh-turn-page {
  display: flex;
  width: 100%;
}
.tyh-turn-page-item {
  flex: 1;
  transition: 0.2s;
}
.tyh-turn-page-item .tyh-turn-page-item-link {
  text-decoration: none;
  color: #515a6e;
  cursor: pointer;
}
.tyh-turn-page-item .tyh-turn-page-item-link:hover {
  color: #3a6ff4;
}
.tyh-turn-page-item .tyh-turn-page-item-link:hover .tyh-icon {
  color: #3a6ff4 !important;
}
.tyh-turn-page-item .tyh-turn-page-item-prohibit {
  opacity: 0.5;
  cursor: not-allowed;
}
.tyh-turn-page-item .tyh-turn-page-item-prohibit .tyh-icon {
  opacity: 0.5 !important;
  color: #515a6e !important;
}
.tyh-turn-page-item .tyh-turn-page-item-prohibit:hover {
  opacity: 0.5;
  color: #515a6e;
}
.tyh-turn-page-item .tyh-turn-page-item-prohibit:hover .tyh-icon {
  color: #515a6e !important;
}
.tyh-table {
  background: #fff;
  overflow: auto;
  display: inline-block;
  width: 100%;
}
.tyh-table .tyh-table-table {
  border-collapse: collapse;
}
.tyh-table .tyh-table-table .tyh-tbody-td,
.tyh-table .tyh-table-table .tyh-thead-td {
  padding: 10px;
  box-sizing: border-box;
}
.tyh-table .tyh-table-table .tyh-thead {
  border-bottom: 1px solid #dcdfe6;
  color: #6e6e6e;
}
.tyh-table .tyh-table-table .tyh-tbody .tyh-tbody-tr {
  border-bottom: 1px solid #dcdfe6;
  color: grey;
}
.tyh-table .tyh-table-table .tyh-tbody .tyh-tbody-tr:hover {
  background: #f5f7fa;
}
.tyh-table .tyh-table-table .tyh-tbody .tyh-tbody-tr-zebra:nth-child(odd) {
  background: #fafafa;
}
.tyh-table .tyh-table-table .tyh-table-border {
  border: 1px solid #dcdfe6;
}
.tyh-button-group {
  display: inline-block;
}
.tyh-button-group .tyh-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tyh-button-group .tyh-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tyh-button-group .tyh-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.tyh-image {
  display: inline-block;
}
.tyh-image .tyh-image-select {
  user-select: none;
}
.tyh-image .tyh-image-fill {
  object-fit: fill;
}
.tyh-image .tyh-image-contain {
  object-fit: contain;
}
.tyh-image .tyh-image-cover {
  object-fit: cover;
}
.tyh-image .tyh-image-none {
  object-fit: none;
}
.tyh-image .tyh-image-scale-down {
  object-fit: scale-down;
}
.tyh-image .tyh-image-error {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  color: #606266;
  font-size: 15px;
}
.tyh-avatar {
  display: inline-block;
}
.tyh-avatar .tyh-avatar-round {
  border-radius: 50%;
}
.tyh-avatar .tyh-avatar-border {
  border: 3px solid #eee;
}
.tyh-avatar .tyh-avatar-select {
  user-select: none;
}
.tyh-avatar .tyh-avatar-fill {
  object-fit: fill;
}
.tyh-avatar .tyh-avatar-contain {
  object-fit: contain;
}
.tyh-avatar .tyh-avatar-cover {
  object-fit: cover;
}
.tyh-avatar .tyh-avatar-none {
  object-fit: none;
}
.tyh-avatar .tyh-avatar-scale-down {
  object-fit: scale-down;
}
.tyh-avatar .tyh-avatar-error {
  background-color: #cfd1d6;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  color: #c1c4cc;
  font-size: 15px;
  position: relative;
  box-sizing: border-box;
}
.tyh-avatar .tyh-avatar-error .tyh-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.tyh-switch {
  display: inline-block;
  transition: 0.3s;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.tyh-switch .tyh-switch-roll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #fff;
}
.tyh-switch-disabled {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-switch-closeText,
.tyh-switch-openText {
  vertical-align: top;
  font-size: 13px;
  color: #333;
  transition: 0.3s;
}
.tyh-switch-closeText {
  margin-right: 5px;
}
.tyh-switch-openText {
  margin-left: 5px;
}
