.tyh-tagging {
  display: inline-block;
  border-radius: 6px;
  padding: 2px 8px;
  margin: 0;
  color: #fff;
}
.tyh-tagging-,
.tyh-tagging-default {
  color: #333;
  background: #e7e7e7;
}
.tyh-tagging-primary {
  background: #3a6ff4;
}
.tyh-tagging-success {
  background: #54c600;
}
.tyh-tagging-danger {
  background: #d10f1b;
}
.tyh-tagging-warning {
  background: #fbcc30;
}
