.tyh-rate {
  position: relative;
  display: flex;
  cursor: pointer;
}
.tyh-rate .tyh-rate-mouseout .solid {
  width: 17px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
}
.tyh-rate .show-text {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}
