.tyh-message {
  display: inline-block;
  min-width: 130px;
  height: 35px;
  border-radius: 4px;
  padding: 0 23px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  user-select: none;
  z-index: 99999;
  transform: translateX(-50%);
  position: fixed;
  top: -37px;
  left: 50%;
  animation: tyhMessage 0.17s linear forwards;
}
.tyh-message .tyh-message-body {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-message .tyh-message-body .tyh-message-message {
  font-size: 13px;
}
.tyh-message .tyh-icon {
  margin-right: 6px;
}
@keyframes tyhMessage {
  to {
    top: 20px;
  }
}
.tyh-message-body-- {
  color: #484848;
}
.tyh-message-body-- .tyh-icon {
  color: #484848 !important;
}
.tyh-message-body--primary {
  color: #3a6ff4;
}
.tyh-message-body--primary .tyh-icon {
  color: #3a6ff4 !important;
}
.tyh-message-body--success {
  color: #54c600;
}
.tyh-message-body--success .tyh-icon {
  color: #54c600 !important;
}
.tyh-message-body--danger {
  color: #d10f1b;
}
.tyh-message-body--danger .tyh-icon {
  color: #d10f1b !important;
}
.tyh-message-body--warning {
  color: #fbcc30;
}
.tyh-message-body--warning .tyh-icon {
  color: #fbcc30 !important;
}
