.tyh-radio {
  margin-right: 19px;
  user-select: none;
}
.tyh-radio .tyh-radio-o {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid #e4e3e3;
  vertical-align: middle;
  border-radius: 50%;
  transition: 0.3s;
}
.tyh-radio .tyh-radio-on:hover {
  border: 1px solid #3a6ff4;
}
.tyh-radio .tyh-radio-disabled {
  opacity: 0.5;
  color: #b6b5b5;
}
.tyh-radio .tyh-radio-label {
  font-size: 14px;
  margin-left: 6px;
  transition: 0.3s;
}
.tyh-radio .tyh-radio-hig {
  background-color: #3a6ff4;
  border: 1px solid #3a6ff4;
  position: relative;
}
.tyh-radio .tyh-radio-hig-disabled {
  background-color: #b6b5b5;
  border: 1px solid #b6b5b5;
  position: relative;
}
.tyh-radio .tyh-radio-o::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 33%;
  right: 33%;
}
