.tyh-text {
  display: inline-block;
  color: #3f536e;
}
.tyh-text-primary {
  color: #3a6ff4;
}
.tyh-text-success {
  color: #54c600;
}
.tyh-text-danger {
  color: #d10f1b;
}
.tyh-text-warning {
  color: #fbcc30;
}
.tyh-text-block {
  display: block;
}
