.tyh-message {
  display: inline-block;
  min-width: 130px;
  height: 35px;
  border-radius: 4px;
  padding: 0 23px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  user-select: none;
  z-index: 4000;
  transform: translateX(-50%);
  position: fixed;
  top: -37px;
  left: 50%;
  animation: tyhMessage 0.17s linear forwards;
}
.tyh-message .tyh-message-body {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyh-message .tyh-message-body .tyh-message-message {
  margin-left: 7px;
  font-size: 13px;
}
@keyframes tyhMessage {
  to {
    top: 20px;
  }
}
.tyh-message-body-- {
  color: #484848;
}
.tyh-message-body--primary {
  color: #409eff;
}
.tyh-message-body--success {
  color: #f05048;
}
.tyh-message-body--danger {
  color: #2ea44f;
}
.tyh-message-body--warning {
  color: #ff7700;
}
