.tyh-rate {
  position: relative;
  display: flex;
}
.tyh-rate .tyh-rate-mouseout {
  cursor: pointer;
}
.tyh-rate .tyh-rate-mouseout .tyh-ui-favorite {
  font-size: 17px;
  color: #d9e0eb;
}
.tyh-rate .tyh-rate-mouseout .solid {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.tyh-rate .tyh-rate-mouseout .solid .tyh-ui-favorite-filling {
  font-size: 17px;
}
.tyh-rate .show-text {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}
