$primary: #3a6ff4;
$success: #54c600;
$danger: #d10f1b;
$warning: #fbcc30;
$default: #f4f5f5;

$primaryHover: #5d88f6;
$successHover: #6bdb18;
$dangerHover: #ea3941;
$warningHover: #fbd659;
$defaultHover: #eeeeee;

$primaryActive: #0852f3;
$successActive: #45a200;
$dangerActive: #b90510;
$warningActive: #dfb118;
$defaultActive: #dbdbdb;

.tyh-button {
  min-width: 40px;
  padding: 0 22px;
  min-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  text-align: center;
  transition: 0.3s;
  color: #fff;
  line-height: 1;
  font-size: 14px;

  .tyh-ui-loading {
    display: inline-block;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;
  }
}

// 基础按钮
.tyh-button-primary {
  background: $primary;

  &:hover {
    background: $primaryHover;
    opacity: 0.8;
    box-shadow: 0 0 3px $primaryHover;
  }

  &:active {
    background: $primaryActive;
  }
}

.tyh-button-success {
  background: $success;

  &:hover {
    background: $successHover;
    box-shadow: 0 0 3px $successHover;
  }

  &:active {
    background: $successActive;
  }
}

.tyh-button-danger {
  background: $danger;

  &:hover {
    background: $dangerHover;
    box-shadow: 0 0 3px $dangerHover;
  }

  &:active {
    background: $dangerActive;
  }
}

.tyh-button-warning {
  background: $warning;

  &:hover {
    background: $warningHover;
    box-shadow: 0 0 3px $warningHover;
  }

  &:active {
    background: $warningActive;
  }
}

.tyh-button-,
.tyh-button-default {
  background: $default;
  color: #333;

  &:hover {
    background: $defaultHover;
    box-shadow: 0 0 3px $defaultHover;
  }

  &:active {
    background: $defaultActive;
  }
}

// 圆角按钮
.tyh-button-round {
  border-radius: 30px;
}

// 简约按钮
.tyh-button-simple-primary,
.tyh-button-simple-success,
.tyh-button-simple-danger,
.tyh-button-simple-warning,
.tyh-button-simple-default {
  background: $default;

  &:hover {
    background: $defaultHover;
    box-shadow: 0 0 3px $defaultHover;
  }

  &:active {
    background: $defaultActive;
  }
}

// 普通按钮禁用状态
.tyh-button-disabled-primary,
.tyh-button-disabled-success,
.tyh-button-disabled-danger,
.tyh-button-disabled-warning,
.tyh-button-disabled-default {
  opacity: 0.6;
  cursor: no-drop;
}

.tyh-button-disabled-primary {
  background: $primary;
}

.tyh-button-disabled-success {
  background: $success;
}

.tyh-button-disabled-danger {
  background: $danger;
}

.tyh-button-disabled-warning {
  background: $warning;
}

.tyh-button-disabled-default {
  background: $default;
}

// 简约按钮禁用
.tyh-button-simple-disabled-primary,
.tyh-button-simple-disabled-success,
.tyh-button-simple-disabled-danger,
.tyh-button-simple-disabled-warning,
.tyh-button-simple-disabled-default {
  opacity: 0.6;
  cursor: no-drop;
}

// 按钮大小
.tyh-button-size-large {
  width: 100%;
}

.tyh-button-size-small {
  min-width: 30px;
  padding: 0 17px;
  height: 30px;
}

.tyh-button-size-mini {
  min-width: 20px;
  padding: 0 12px;
  height: 25px;
}

.tyh-button-square {
  border-radius: 0;
}

.tyh-button [class*='tyh-icon'] + span {
  margin-left: 5px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
