.tyh-table {
  background: #fff;
  overflow: auto;
  display: inline-block;
  width: 100%;

  .tyh-table-table {
    border-collapse: collapse;

    .tyh-thead-td,
    .tyh-tbody-td {
      padding: 10px;
      box-sizing: border-box;
    }

    .tyh-thead {
      border-bottom: 1px solid #dcdfe6;
      color: rgb(110, 110, 110);
    }

    .tyh-tbody {
      .tyh-tbody-tr {
        border-bottom: 1px solid #dcdfe6;
        color: rgb(128, 128, 128);

        &:hover {
          background: rgb(245, 247, 250);
        }
      }

      .tyh-tbody-tr-zebra:nth-child(odd) {
        background: #fafafa;
      }
    }

    .tyh-table-border {
      border: 1px solid #dcdfe6;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 6px;
  }
}
