.tyh-skeleton {
  min-height: 16px;
  width: 100%;
  background: #eee;
  display: inline-block;
  border-radius: 4px;
}

.tyh-skeleton-round {
  border-radius: 30px;
}

.tyh-skeleton-animation {
  animation: skeleton 1.5s infinite;
}

@keyframes skeleton {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
