.tyh-division {
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 1px solid #c0c0c0;
  padding-left: 20px;
}
.tyh-division .tyh-division-text {
  padding: 0 21px;
  color: #515a6e;
  font-size: 13px;
}
.tyh-division .tyh-division-text--left {
  text-align: left;
  margin-left: 30px;
}
.tyh-division .tyh-division-text--center {
  text-align: center;
}
.tyh-division .tyh-division-text--right {
  text-align: right;
  margin-right: 30px;
}
