.tyh-input {
  display: inline-block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.tyh-input .tyh-input_inp {
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  color: #3f536e;
  border: 1px solid #c5d9e8;
  outline: none;
  padding: 0 10px;
  transition: border 0.35s;
  background: #fff;
  box-sizing: border-box;
}
.tyh-input .tyh-input_inp:focus {
  border: 1px solid #409eff;
  transition: border 0.35s;
}
.tyh-input .tyh-input-clear-padding {
  padding-right: 26px;
}
.tyh-input .tyh-input-icon__showIcon {
  position: absolute;
  left: 10px;
  margin: auto;
  user-select: none;
}
.tyh-input .tyh-input__padding-left {
  padding-left: 30px;
}
.tyh-input .tyh-input-icon__clear {
  position: absolute;
  right: 10px;
  margin: auto;
  cursor: pointer;
}
.tyh-input .tyh-input-icon-big-height {
  line-height: 40px;
}
.tyh-input .tyh-input-icon-medium-height {
  line-height: 35px;
}
.tyh-input .tyh-input-icon-small-height {
  line-height: 30px;
}
.tyh-input .tyh-input-icon-mini-height {
  line-height: 25px;
}
.tyh-input_inp--big {
  height: 40px;
}
.tyh-input_inp--medium {
  height: 35px;
}
.tyh-input_inp--small {
  height: 30px;
}
.tyh-input_inp--mini {
  height: 25px;
}
.tyh-button-prohibit {
  background: #f5f7fa !important;
  border-color: #e4e7ed !important;
  color: #c0c4cc !important;
  cursor: not-allowed;
}
.tyh-button-prohibit /deep/ .tyh-icon {
  cursor: not-allowed !important;
}
