.tyh-switch {
  display: inline-block;
  transition: 0.3s;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.tyh-switch .tyh-switch-roll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #fff;
}
.tyh-switch .tyh-switch-change {
  left: 20px;
}
.tyh-switch-disabled {
  opacity: 0.6;
  cursor: no-drop;
}
.tyh-switch-closeText,
.tyh-switch-openText {
  vertical-align: top;
  font-size: 13px;
  color: #333;
  transition: 0.3s;
}
.tyh-switch-closeText {
  margin-right: 5px;
}
.tyh-switch-openText {
  margin-left: 5px;
}
