.tyh-button {
  min-width: 40px;
  padding: 0px 17px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.4s;
  transition: background 0.2s;
  user-select: none;
}
.tyh-button .tyh-button-text {
  font-size: 14px;
}
.tyh-button .tyh-button-icon-margin {
  margin-left: 5px;
}
.tyh-button:active {
  transition: border 0.4s;
  transition: background 0.2s;
}
.tyh-button-- {
  background: #fff;
  border: 1px solid #dcdfe6;
}
.tyh-button-- .tyh-button-text {
  color: #606266;
}
.tyh-button--:active {
  background: #ecf5ff;
  border: 1px solid #c6e2ff;
}
.tyh-button--:active .tyh-button-text {
  color: #409eff;
}
.tyh-button--primary {
  background: #409eff;
  border: 1px solid #409eff;
}
.tyh-button--primary .tyh-button-text {
  color: #fff;
}
.tyh-button--primary:active {
  background: #66b1ff;
  border: 1px solid #66b1ff;
}
.tyh-button--success {
  background: #2ea44f;
  border: 1px solid #2ea44f;
}
.tyh-button--success .tyh-button-text {
  color: #fff;
}
.tyh-button--success:active {
  background: #2a8143;
  border: 1px solid #2a8143;
}
.tyh-button--danger {
  background: #f05048;
  border: 1px solid #f05048;
}
.tyh-button--danger .tyh-button-text {
  color: #fff;
}
.tyh-button--danger:active {
  background: #eb7b7b;
  border: 1px solid #eb7b7b;
}
.tyh-button--warning {
  background: #ff7700;
  border: 1px solid #ff7700;
}
.tyh-button--warning .tyh-button-text {
  color: #fff;
}
.tyh-button--warning:active {
  background: #ffa319;
  border: 1px solid #ffa319;
}
.tyh-button--round {
  border-radius: 23px;
}
.tyh-button--primary-simple {
  background: #e8f4ff;
}
.tyh-button--primary-simple .tyh-button-text {
  color: #409eff;
}
.tyh-button--success-simple {
  background: #e1ffea;
}
.tyh-button--success-simple .tyh-button-text {
  color: #2ea44f;
}
.tyh-button--danger-simple {
  background: #ffe8e6;
}
.tyh-button--danger-simple .tyh-button-text {
  color: #f05048;
}
.tyh-button--warning-simple {
  background: #fff1e3;
}
.tyh-button--warning-simple .tyh-button-text {
  color: #ff7700;
}
.tyh-button--prohibit-- {
  cursor: not-allowed;
  background: #fff;
}
.tyh-button--prohibit--:active {
  background: #fff;
}
.tyh-button--prohibit--:active .tyh-button-text {
  color: #606266;
}
.tyh-button--prohibit--primary {
  cursor: not-allowed;
  background: #a6d1fe;
  border: none;
}
.tyh-button--prohibit--primary:active {
  background: #a6d1fe;
  border: none;
}
.tyh-button--prohibit--success {
  cursor: not-allowed;
  background: #92ffb0;
  border: none;
}
.tyh-button--prohibit--success:active {
  background: #92ffb0;
  border: none;
}
.tyh-button--prohibit--danger {
  cursor: not-allowed;
  background: #ffa6a2;
  border: none;
}
.tyh-button--prohibit--danger:active {
  background: #ffa6a2;
  border: none;
}
.tyh-button--prohibit--warning {
  cursor: not-allowed;
  background: #ffce85;
  border: none;
}
.tyh-button--prohibit--warning:active {
  background: #ffce85;
  border: none;
}
