.tyh-dialog-packing {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.tyh-dialog-packing .tyh-dialog {
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.tyh-dialog-packing .tyh-dialog .tyh-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.tyh-dialog-packing .tyh-dialog .tyh-dialog-header .tyh-dialog-title {
  font-size: 15px;
  color: #333;
}
.tyh-dialog-packing .tyh-dialog .tyh-dialog-header .tyh-ui-close {
  cursor: pointer;
}
.tyh-dialog-packing .tyh-dialog .tyh-dialog-footer {
  padding-top: 10px;
  text-align: right;
}
.tyh-dialog-modal {
  background: rgba(0, 0, 0, 0.4);
}
.tyh-dialog-enter-active {
  transition: all 0.2s ease-out;
}
.tyh-dialog-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.tyh-dialog-enter-from,
.tyh-dialog-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
